<div class="footer-div">

  <div class="social-media">

      <div class="linkedin">
          <a href="https://www.linkedin.com/in/nikhil-chodimella" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
          </a>
      </div>

      <div class="twitter">
          <a href="https://www.twitter.com/lrtheeleventh" target="_blank">
              <i class="fa-brands fa-twitter"></i>
          </a>
      </div>

      <div class="podcast">
          <a href="https://anchor.fm/culturallenses" target="_blank">
              <i class="fa-solid fa-microphone"></i>
          </a>
      </div>

  </div>

  <div class="cta">
      <a href="contact.html">Let's Talk!</a>
  </div>

</div>
