<div class="nav-div">

  <nav>
      <ul class="menu">
          <li class="logo"><a href="index.html"><img src="assets/img/logo/logo-black-on-white.png" alt=""></a></li>
          <li class="item"><a href="about.html">About</a></li>
          <li class="item"><a href="podcast.html">Podcast</a></li>
          <li class="item"><a href="consultation.html">Consultation</a></li>
          <li class="item has-submenu">
              <a tabindex="0">Projects</a>
              <ul class="submenu">
                  <li class="subitem"><a href="#">Grover Green</a></li>
                  <li class="subitem"><a href="hikikomori.html">Hikikomori</a></li>
                  <li class="subitem"><a href="#">Obsessed with Success</a></li>
              </ul>
          </li>
          <li class="toggle"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
      </ul>
  </nav>

</div>
