<div id="container" class="content-div">

  <div class="content-left">
    <div class="intro-text">
        <h1>Hi, I'm Nikhil, a multidisciplinary designer and communicator.</h1>
        <p class= "home-about-link">&rArr; <a href="about.html">about me</a></p>
        <p>
            I then moved on to location scouting. Based on our final script our main character,
            John Smith, lives in a world where he is the only human. We found a few locations
            that were easily accessible, but we were limited to shooting either very early in
            the morning, or late at night. This combined with individual availability left us
            with only 4 days of filming out of the 3 weeks.
        </p>
    </div>
  </div>

  <div class="content-right">
      <div class="home-bg">
          <a href="about.html">
              <div class="link-div"></div>
          </a>
      </div>
  </div>

</div>
